<app-header></app-header>

<div id="section-gallery" class="heading-block center topmargin page-section">
  <h2>Gallery.</h2>
  <span>Check out the Candid Moments here </span>


  <div class="masonry-thumbs grid-4" data-lightbox="gallery">
    <a href="assets/gym/images/gallery/1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/1.jpg" alt="Gallery Thumb 1"><i class="icon-resize-full"></i></a>
    <a href="assets/gym/images/gallery/2.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/2.jpg" alt="Gallery Thumb 2"><i class="icon-resize-full"></i></a>
    <a href="assets/gym/images/gallery/3.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/3.jpg" alt="Gallery Thumb 3"><i class="icon-resize-full"></i></a>
    <a href="assets/gym/images/gallery/4.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/4.jpg" alt="Gallery Thumb 4"><i class="icon-resize-full"></i></a>
    <a href="assets/gym/images/gallery/5.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/5.jpg" alt="Gallery Thumb 5"><i class="icon-resize-full"></i></a>
    <a href="assets/gym/images/gallery/6.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/6.jpg" alt="Gallery Thumb 6"><i class="icon-resize-full"></i></a>
    <a href="assets/gym/images/gallery/7.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/7.jpg" alt="Gallery Thumb 7"><i class="icon-resize-full"></i></a>
    <a href="assets/gym/images/gallery/8.jpg" data-lightbox="gallery-item"><img class="image_fade" src="assets/gym/images/gallery/8.jpg" alt="Gallery Thumb 9"><i class="icon-resize-full"></i></a>
  </div>

</div>






