<app-header></app-header>
<div class="section nomargin nobg clearfix" style="padding: 100px 0;">
  <div class="container clearfix">
    <div class="heading-block center">
      <h3 class="t700">Fabulous Products </h3>
      <div class="before-heading uppercase ls1" style="font-size: 13px; font-style: normal;">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>

    </div>

    <!-- Portfolio Filter
    ============================================= -->
    <!--<ul class="portfolio-filter style-2 clearfix" data-container="#portfolio">-->
      <!--<li><a href="#" data-filter=".cf-cuv"><i class="icon-car-cuv"></i><span>Cuv</span></a></li>-->
      <!--<li><a href="#" data-filter=".cf-sedan"><i class="icon-car-sedan"></i><span>Sedan</span></a></li>-->
      <!--<li><a href="#" data-filter=".cf-supercar"><i class="icon-car-supercar"></i><span>Supercar</span></a></li>-->
      <!--<li><a href="#" data-filter=".cf-hatchback"><i class="icon-car-hatchback"></i><span>Hatchback</span></a></li>-->
      <!--<li><a href="#" data-filter=".cf-cabriolet"><i class="icon-car-cabriolet"></i><span>Cabriolet</span></a></li>-->
      <!--&lt;!&ndash; Show All Button &ndash;&gt;-->
      <!--<li class="fright activeFilter"><a class="button button-small button-rounded button-reset" href="#" data-filter="*">Show All</a></li>-->
    <!--</ul> &lt;!&ndash; #portfolio-filter end &ndash;&gt;-->

    <div class="clear"></div>

    <!-- Portfolio Items
    ============================================= -->
    <div id="portfolio" class="portfolio portfolio-3 grid-container clearfix" data-layout="fitRows">
      <section>
        <!-- Car 4 -->
        <article class="portfolio-item cf-cuv">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/4.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">BMW 3 Series, ABS</a></h3>
            <span>Energistically engineer user friendly synergy vis-a-vis enabled channels. Rapidiously utilize value-added. Laudantium debitis perferendis obcaecati.</span>
          </div>
        </article>

        <!-- Car 5 -->
        <article class="portfolio-item cf-supercar">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/5.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">2016 LEXUS IS 200T FSPORT</a></h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium debitis unde laboriosam perferendis obcaecati.</span>
          </div>
        </article>

        <!-- Car 6 -->
        <article class="portfolio-item cf-hatchback">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/6.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
                <span class="p-price-msrp">MSRP : <strong>$35,698</strong></span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">Chevrolet T430 Hatchback</a></h3>
            <span>Appropriately exploit strategic niche markets rather than optimal products. Enthusiastically negotiate perferendis the art methods of empowermen.</span>
          </div>
        </article>

      </section>
      <section>
        <!-- Car 4 -->
        <article class="portfolio-item cf-cuv">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/4.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">BMW 3 Series, ABS</a></h3>
            <span>Energistically engineer user friendly synergy vis-a-vis enabled channels. Rapidiously utilize value-added. Laudantium debitis perferendis obcaecati.</span>
          </div>
        </article>

        <!-- Car 5 -->
        <article class="portfolio-item cf-supercar">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/5.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">2016 LEXUS IS 200T FSPORT</a></h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium debitis unde laboriosam perferendis obcaecati.</span>
          </div>
        </article>

        <!-- Car 6 -->
        <article class="portfolio-item cf-hatchback">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/6.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
                <span class="p-price-msrp">MSRP : <strong>$35,698</strong></span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">Chevrolet T430 Hatchback</a></h3>
            <span>Appropriately exploit strategic niche markets rather than optimal products. Enthusiastically negotiate perferendis the art methods of empowermen.</span>
          </div>
        </article>
      </section>
      <section>
        <!-- Car 4 -->
        <article class="portfolio-item cf-cuv">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/4.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">BMW 3 Series, ABS</a></h3>
            <span>Energistically engineer user friendly synergy vis-a-vis enabled channels. Rapidiously utilize value-added. Laudantium debitis perferendis obcaecati.</span>
          </div>
        </article>

        <!-- Car 5 -->
        <article class="portfolio-item cf-supercar">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/5.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">2016 LEXUS IS 200T FSPORT</a></h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium debitis unde laboriosam perferendis obcaecati.</span>
          </div>
        </article>

        <!-- Car 6 -->
        <article class="portfolio-item cf-hatchback">
          <div class="portfolio-image">
            <a href="javascript:void(0)">
              <img src="assets/images/filter-cars/6.jpg" alt="Open Imagination">
              <div class="filter-p-pricing">
                <span class="p-price t700 ls1">&#8358;32,568</span>
                <span class="p-price-msrp">MSRP : <strong>$35,698</strong></span>
              </div>
            </a>
          </div>
          <div class="portfolio-desc">
            <h3><a href="javascript:void(0)">Chevrolet T430 Hatchback</a></h3>
            <span>Appropriately exploit strategic niche markets rather than optimal products. Enthusiastically negotiate perferendis the art methods of empowermen.</span>
          </div>
        </article>

        </section>
      <section>
       
      </section>


    </div>
  </div>
</div>


  <app-footer></app-footer>